# Description

GLMS Q1 Dataset

In [1]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

if os.environ.get('RUNTIME_ENV_LOCATION_TYPE') == 'external':
    endpoint_4f00c008ec7143feb979bdaa7037c2c3 = 'https://s3.eu.cloud-object-storage.appdomain.cloud'
else:
    endpoint_4f00c008ec7143feb979bdaa7037c2c3 = 'https://s3.private.eu.cloud-object-storage.appdomain.cloud'

client_4f00c008ec7143feb979bdaa7037c2c3 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='zhfF82UBWzh6VPrRuxDzDi-p7yFFi7msI61_AIO6caKk',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url=endpoint_4f00c008ec7143feb979bdaa7037c2c3)

body = client_4f00c008ec7143feb979bdaa7037c2c3.get_object(Bucket='myproject-donotdelete-pr-fc1zugmsri6xku',Key='GLMS 2021 Q1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,survey_var_period,survey_var_response,survey_var_lang_pref,demo_country_residence,demo_postal_code,demo_employment_status,demo_age,demo_gender,demo_disability,demo_sexual_orientation,...,metric_evp_satis_vacation_top2,metric_paypractice,metric_paypractice_top2,metric_innovative_environment,metric_innovative_environment_top2,metric_organizational_agility,metric_organizational_agility_top2,metric_merit_comp,metric_merit_bonus,metric_switch_premium
0,GLMS 3M21,3B64H54E7P,English,Belgium,2540,Temporary or seasonal employee,19,Male,,,...,0,66.666667,0,75.000000,0,70.833333,0,0,0,0
1,GLMS 3M21,Q57KRCFY88,French,France,85700,Permanent part-time salaried,35,Female,,,...,0,50.000000,0,50.000000,0,50.000000,0,0,0,0
2,GLMS 3M21,5T33EL87AR,English,Finland,33800,Permanent full-time hourly,39,Male,,,...,0,50.000000,0,58.333333,0,58.333333,0,0,0,0
3,GLMS 3M21,TNY8HK2XBE,Italian,Italy,17100,Self-employed,46,Male,,,...,0,66.666667,0,50.000000,0,50.000000,0,10,0,0
4,GLMS 3M21,D78R458D54,English,Belgium,9930,Permanent part-time salaried,40,Female,,,...,0,58.333333,0,50.000000,0,50.000000,0,0,0,0